.footer1 {
    height:"5rem";
    width:"100%";
    background-color: rgb(116, 196, 241);
    margin:5rem 0rem 1rem 0rem ;
   
  }
  .footer1 h1 {
      color:aliceblue;
      display:inline-block;
  }
  
  .img {
       margin-left:500px;
  }
  .img img{
      margin-left:70px;
  }